@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: #F9F8FF;
}

a {
  font-weight: 600;
  color: #4F38FF;
  text-decoration: none;
}

.colorLine {
  background-color: #4F38FF;
  width: 100%;
  height: 4px;
}

.contentWrapper {
  max-width: 704px;
  margin: 0 auto;
  padding: 80px 50px 32px 50px;
}

.titleArea h1 {
  margin: 0 0 16px 0;
  font-size: 80px;
  line-height: 1;
  color: #4F38FF;
  font-family: "Frank Ruhl Libre";
  font-weight: 600;
}

.titleArea p {
  margin: 0;
  font-size: 28px;
  line-height: 1.2;
  color: #25283A;
}
